.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.card {
    width: 900px
}

.gradient-custom {

    background: #b969e1;
    background: -webkit-linear-gradient(to bottom right, rgb(242, 161, 251), rgb(251, 179, 235));
    background: linear-gradient(to bottom right, rgb(168, 157, 232), rgb(214, 147, 213))
}