
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height:70vh;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 20px;
  background:white;
}
.container {
  position: relative;
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 25px;
  
}



.title{
    font-size: small;
    margin: 5px;
}


.img{
        padding-top:20px;
        margin-top: 100px;
        margin-bottom: 20px;
        float: left;
        padding-left: 400px;
        
}  

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
  padding-right: 50px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #cac6c6;
  margin-top: 8px;
  border: 1px solid #919191;
  border-radius: 6px;
  padding: 0 15px;
}

.form .column {
  display: flex;
  column-gap: 25px;
}


.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 40px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(82, 90, 249);
  border-radius: 5px;
}

.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-button a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
     background-color: #4267b2;
} 

a.facebook{ 
    width: 100%; 
    font-size: 20px; 
    color: #fff;
    background-color: #30549e;
    height: 40px  
}

a.twitter{ 
    width: 100%; 
    font-size: 20px; 
    color: #fff;
    background-color: #56b8f9;
    height: 40px  
}
  